{{ > templates/header }}

<div class="container" style="max-width: 1000px">
<div class="row">

    <div class="col-md-8 col-sm-12">

        <h1>Atḷfabét • Атӆфабэйт<br><span style="font-weight: 100;">The Alphabet</span></h1>
        <p class="larger">Cloudic has both a Latin and Cyrillic alphabet. The language is the same in both alphabets, although it may sound a little
            different and is transcribed differently. This may be confusing if you're new to the language, or if you are not used to reading Cyrillic.
        </p>
        <p class="larger">If you're not sure which one to learn first, you should learn the Latin alphabet. However, it is still good to have knowledge
            of Cyrillic Cloudic - in places, it could be more common to see than Latin.
        </p>

    </div>

</div>
</div>

{{ > templates/footer }}