{{ > templates/header }}

<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Pacifico&display=swap" rel="stylesheet">

<div class="container" style="max-width: 1000px">
<div class="row">

    <div class="col-md-8 col-sm-12">

        <h1>Aḷfabét • Аӆфабэйт<br><span style="font-weight: 100;">The Alphabet</span></h1>
        <p class="larger">Cloudic has both a Latin and Cyrillic alphabet. The language is the same in both alphabets, although it may sound a little
            different and is transcribed differently. This may be confusing if you're new to the language, or if you are not used to reading Cyrillic.
        </p>
        <p class="larger">If you're not sure which one to learn first, you should learn the Latin alphabet. However, it is still good to have knowledge
            of Cyrillic Cloudic - in places, it could be more common to see than Latin.
        </p>

        <div class="line-x"></div>

        <h2>Stäfirid • Стявірід<br><span style="font-weight: 100;">Letters</span></h2>
        <p>Some of these letters may seem familiar, and some may not. Some of these letters will trick you into thinking you know what they are, and others will
            look unfamiliar but correspond to sounds you use in everyday life.</p>
        <h3>Latin</h3>
        <p>The Latin Cloudic alphabet contains 36 letters. 5 of these are dipthongs (sounds that merge into each other), 11 are vowels, and 20 are consonants.</p>
        <p>Not all of these are commonly used, so don't worry if you can't remember them.</p>

        <table style="width: 150%; table-layout: fixed; margin-top: 30px; margin-bottom: 30px;">

            <TR>
                <TD>A</TD>
                <TD>Á</TD> 
                <TD>Æ</TD>
                <TD>B</TD>
                <TD>D</TD>
                <TD>Ð</TD>
                <TD>E</TD>
                <TD>É</TD>
                <TD>F</TD>
                <TD>G</TD>
                <TD>Ǵ</TD>
                <TD>H</TD>
                <TD>I</TD>
                <TD>Í</TD>
                <TD>J</TD>
                <TD>K</TD>
                <TD>L</TD>
                <TD>Ḷ</TD>
                <TD>M</TD>
                <TD>Ṃ</TD>
                <TD>N</TD>
                <TD>O</TD>
                <TD>Ó</TD>
                <TD>Œ</TD>
                <TD>P</TD>
                <TD>R</TD>
                <TD>S</TD>
                <TD>T</TD>
                <TD>U</TD>
                <TD>V</TD>
                <TD>Y</TD>
                <TD>Þ</TD>
                <TD>Å</TD>
                <TD>Ä</TD>
                <TD>Ö</TD>
                <TD>Ü</TD>
              </TR>
            <tr>
                <td>a</td>
                <td>á</td> 
                <td>æ</td>
                <td>b</td>
                <td>d</td>
                <td>ð</td>
                <td>e</td>
                <td>é</td>
                <td>f</td>
                <td>g</td>
                <td>ǵ</td>
                <td>h</td>
                <td>i</td>
                <td>í</td>
                <td>j</td>
                <td>k</td>
                <td>l</td>
                <td>ḷ</td>
                <td>m</td>
                <td>ṃ</td>
                <td>n</td>
                <td>o</td>
                <td>ó</td>
                <td>œ</td>
                <td>p</td>
                <td>r</td>
                <td>s</td>
                <td>t</td>
                <td>u</td>
                <td>v</td>
                <td>y</td>
                <td>þ</td>
                <td>å</td>
                <td>ä</td>
                <td>ö</td>
                <td>ü</td>
              </tr>

        </table>

        <p>The vowels are <em>a</em>, <em>á</em>, <em>e</em>, <em>é</em>, <em>i</em>, <em>í</em>, <em>o</em>, <em>ó</em>, <em>u</em>, <em>y</em>, <em>æ</em>,
            <em>œ</em>, <em>å</em>, <em>ä</em>, <em>ö</em>, and <em>ü</em>. As you can see, the dipthongs are included in the list of vowels, to make 16 total
            vowels.</p>

        <p>The letters <em>ḷ</em> and <em>ṃ</em> do not have to be counted as part of the alphabet. The dot under simply marks the voiceless letter.</p>

        <h4 style="font-size: calc(1.275rem);">A note about tildes (~)</h4>

        <p>You may notice a tilde appearing above vowels, sometimes along with other diacritics/accents (eg. ã, æ̃, ä̃).</p>

        <p>This is a feature unique to Latin Cloudic, where it increases the length of the vowel being pronounced. This is similar to Finnish, which doubles the
            vowel to make it longer (eg. o => oo).
        </p>

        <p>This is not of great importance to learn to pronounce, but it is always useful to know what it means.</p>


        <h3>Cyrillic</h3>
        <p>The Latin Cloudic alphabet contains 31 letters. 8 of these are vowels, and 23 are consonants.</p>

        <table style="width: 150%; table-layout: fixed; margin-top: 30px; margin-bottom: 30px;">

            <TR>
                <TD>А</TD>
                <TD>Б</TD> 
                <TD>В</TD>
                <TD>Г</TD>
                <TD>Д</TD>
                <TD>Ж</TD>
                <TD>З</TD>
                <TD>И</TD>
                <TD>І</TD>
                <TD>Ї</TD>
                <TD>Ј</TD>
                <TD>К</TD>
                <TD>Л</TD>
                <TD>Ӆ</TD>
                <TD>М</TD>
                <TD>Ӎ</TD>
                <TD>Н</TD>
                <TD>О</TD>
                <TD>Ӧ</TD>
                <TD>П</TD>
                <TD>Р</TD>
                <TD>С</TD>
                <TD>Т</TD>
                <TD>У</TD>
                <TD>Ӱ</TD>
                <TD>Ф</TD>
                <TD>Х</TD>
                <TD>Ч</TD>
                <TD>Щ</TD>
                <TD>Э</TD>
              </TR>

              <tr>
                <td>а</td>
                <td>б</td> 
                <td>в</td>
                <td>г</td>
                <td>д</td>
                <td>ж</td>
                <td>з</td>
                <td>и</td>
                <td>і</td>
                <td>ї</td>
                <td>ј</td>
                <td>к</td>
                <td>л</td>
                <td>ӆ</td>
                <td>м</td>
                <td>ӎ</td>
                <td>н</td>
                <td>о</td>
                <td>ӧ</td>
                <td>п</td>
                <td>р</td>
                <td>с</td>
                <td>т</td>
                <td>у</td>
                <td>ӱ</td>
                <td>ф</td>
                <td>х</td>
                <td>ч</td>
                <td>щ</td>
                <td>э</td>
              </tr>

              <TR>
                <TD class="cyr_cur">А</TD>
                <TD class="cyr_cur">Б</TD> 
                <TD class="cyr_cur">В</TD>
                <TD class="cyr_cur">Г</TD>
                <TD class="cyr_cur">Д</TD>
                <TD class="cyr_cur">Ж</TD>
                <TD class="cyr_cur">З</TD>
                <TD class="cyr_cur">И</TD>
                <TD class="cyr_cur">І</TD>
                <TD class="cyr_cur">Ї</TD>
                <TD class="cyr_cur">Ј</TD>
                <TD class="cyr_cur">К</TD>
                <TD class="cyr_cur">Л</TD>
                <TD class="cyr_cur"></TD>
                <TD class="cyr_cur">М</TD>
                <TD class="cyr_cur"></TD>
                <TD class="cyr_cur">Н</TD>
                <TD class="cyr_cur">О</TD>
                <TD class="cyr_cur"></TD>
                <TD class="cyr_cur">П</TD>
                <TD class="cyr_cur">Р</TD>
                <TD class="cyr_cur">С</TD>
                <TD class="cyr_cur">Т</TD>
                <TD class="cyr_cur">У</TD>
                <TD class="cyr_cur"></TD>
                <TD class="cyr_cur">Ф</TD>
                <TD class="cyr_cur">Х</TD>
                <TD class="cyr_cur">Ч</TD>
                <TD class="cyr_cur">Щ</TD>
                <TD class="cyr_cur">Э</TD>
              </TR>

              <tr>
                <td class="cyr_cur">а</td>
                <td class="cyr_cur">б</td> 
                <td class="cyr_cur">в</td>
                <td class="cyr_cur">г</td>
                <td class="cyr_cur">д</td>
                <td class="cyr_cur">ж</td>
                <td class="cyr_cur">з</td>
                <td class="cyr_cur">и</td>
                <td class="cyr_cur">і</td>
                <td class="cyr_cur">ї</td>
                <td class="cyr_cur">ј</td>
                <td class="cyr_cur">к</td>
                <td class="cyr_cur">л</td>
                <td class="cyr_cur"></td>
                <td class="cyr_cur">м</td>
                <td class="cyr_cur"></td>
                <td class="cyr_cur">н</td>
                <td class="cyr_cur">о</td>
                <td class="cyr_cur"></td>
                <td class="cyr_cur">п</td>
                <td class="cyr_cur">р</td>
                <td class="cyr_cur">с</td>
                <td class="cyr_cur">т</td>
                <td class="cyr_cur">у</td>
                <td class="cyr_cur"></td>
                <td class="cyr_cur">ф</td>
                <td class="cyr_cur">х</td>
                <td class="cyr_cur">ч</td>
                <td class="cyr_cur">щ</td>
                <td class="cyr_cur">э</td>
              </tr>

        </table>

        <p>The vowels are <em>а</em>, <em>э</em>, <em>и</em>, <em>і</em>, <em>о</em>, <em>ӧ</em>, <em>у</em>, and <em>ӱ</em>. Unlike Latin Cloudic,
        letters which represent more than one sound are not included (eg. е, ю, я).</p>

        <p>The letters <em>ӆ</em> and <em>ӎ</em> do not have to be counted as part of the alphabet. The tail simply marks the voiceless letter.</p>

        <p>Other letters you may come across in Cyrillic Cloudic, but are not counted as letters on their own, are as follows:</p>

        <table style="width: 150%; table-layout: fixed; margin-top: 30px; margin-bottom: 30px;">

            <TR>
                <TD>Ш</TD>
                <TD>Ч</TD> 
                <TD>Я</TD>
                <TD>Е</TD>
                <TD>Ё</TD>
                <TD>Ю</TD>
                <TD>Й</TD>
              </TR>

              <tr>
                <td>ш</td>
                <td>ч</td> 
                <td>я</td>
                <td>е</td>
                <td>ё</td>
                <td>ю</td>
                <td>й</td>
              </tr>

              <TR>
                <TD class="cyr_cur">Ш</TD>
                <TD class="cyr_cur">Ч</TD> 
                <TD class="cyr_cur">Я</TD>
                <TD class="cyr_cur">Е</TD>
                <TD class="cyr_cur">Ё</TD>
                <TD class="cyr_cur">Ю</TD>
                <TD class="cyr_cur">Й</TD>
              </TR>

              <tr>
                <td class="cyr_cur">ш</td>
                <td class="cyr_cur">ч</td> 
                <td class="cyr_cur">я</td>
                <td class="cyr_cur">е</td>
                <td class="cyr_cur">ё</td>
                <td class="cyr_cur">ю</td>
                <td class="cyr_cur">й</td>
              </tr>

        </table>

        <p>If you're new to the Cyrillic alphabet, this will be a good time to tell you that written Cyrillic differs significantly from print Cyrillic. It's
            usually joined up / written in cursive.
        </p>

        <p>A good tip to learning how to write this, is to learn to write your native language in cursive first. Many
            Latin and Cyrillic cursive characters are identical. Once you master this, you'll be ready to move onto writing Cyrillic Cloudic.</p>

        <div class="line-x"></div>

        <h2>Ütãl • Утал<br><span style="font-weight: 100;">Pronounciation</span></h2>
        <p>For the most part all of the letters match to one singular sound, so you don't have to stress over learning word pronounciations, just say as you see. As Cloudic
            is such an international language, pronounciations do not matter a lot, but it's always good if you can attempt to get as close to the letter sound as you can.</p>
        
        <h3>Latin</h3>

        <p>Here is a table showing rough approximations of how each letter is pronounced.</p>

        <table style="width: 150%; table-layout: fixed; margin-top: 30px; margin-bottom: 30px;">

            <tr>
                <th rowspan="2" style="width:50px;"></th>
                <th><img class="flag" height="25" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Flag_of_the_United_Kingdom.svg/800px-Flag_of_the_United_Kingdom.svg.png?20190916111110"></th>
                <th><img class="flag" height="25" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Flag_of_Iceland.svg/800px-Flag_of_Iceland.svg.png?20200111183240"></th>
                <th><img class="flag" height="25" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Flag_of_Denmark.svg/512px-Flag_of_Denmark.svg.png?20220413091520"></th>
                <th><img class="flag" height="25" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Flag_of_Norway.svg/512px-Flag_of_Norway.svg.png?20210507002815"></th>
                <th><img class="flag" height="25" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Flag_of_Sweden.svg/512px-Flag_of_Sweden.svg.png?20191015032229"></th>
                <th><img class="flag" height="25" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Flag_of_Swedish-speaking_Finns.svg/800px-Flag_of_Swedish-speaking_Finns.svg.png?20200826064623"></th>
                <th><img class="flag" height="25" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Flag_of_Finland.svg/800px-Flag_of_Finland.svg.png?20090714053857"></th>
            </tr>

            <tr>
                <th>RP</th>
                <th>ISL</th>
                <th>DAN</th>
                <th>NOB</th>
                <th>SWE</th>
                <th>FIN</th>
                <th>FIN</th>
            </tr>

            <tr>
                <td>Aa</td>
                <td>c<strong>u</strong>t</td>
                <td>like k<strong>a</strong>rl, but further back</td>
                <td>t<strong>a</strong>k</td>
                <td>f<strong>a</strong>st</td>
                <td>like m<strong>a</strong>tt, but further back</td>
                <td>m<strong>a</strong>tt</td>
                <td>pout<strong>a</strong></td>
            </tr>

            <tr>
                <td>Áá</td>
                <td>m<strong>ou</strong>th</td>
                <td>sj<strong>á</strong>lfur</td>
                <td></td>
                <td>like h<strong>au</strong>k</td>
                <td></td>
                <td></td>
                <td><strong>au</strong>ra</td>
            </tr>

            <tr>
                <td>Ææ</td>
                <td><strong>eye</strong></td>
                <td><strong>æ</strong>tla</td>
                <td></td>
                <td>like k<strong>ai</strong></td>
                <td></td>
                <td></td>
                <td><strong>ai</strong>ka</td>
            </tr>

            <tr>
                <td>Bb</td>
                <td><strong>b</strong>us</td>
                <td><strong>b</strong>aggi</td>
                <td></td>
                <td><strong>b</strong>il</td>
                <td><strong>b</strong>ok</td>
                <td><strong>b</strong>ok</td>
                <td><strong>b</strong>ussi</td>
            </tr>

            <tr>
                <td>Dd</td>
                <td><strong>t</strong>ie</td>
                <td><strong>t</strong>ala</td>
                <td><strong>d</strong>åb</td>
                <td><strong>t</strong>irsdag</td>
                <td><strong>t</strong>ok</td>
                <td><strong>t</strong>ok</td>
                <td><strong>t</strong>ina</td>
            </tr>

            <tr>
                <td>Ðð</td>
                <td>wea<strong>th</strong>er</td>
                <td>ve<strong>ð</strong>ur</td>
                <td>mal<strong>et</strong></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>Ee</td>
                <td>l<strong>e</strong>t</td>
                <td>like k<strong>e</strong>nna</td>
                <td>v<strong>e</strong>n</td>
                <td>like h<strong>e</strong>l, but shorter</td>
                <td>like h<strong>ä</strong>ll</td>
                <td>h<strong>ä</strong>ll</td>
                <td>t<strong>e</strong>rve</td>
            </tr>

            <tr>
                <td>Éé</td>
                <td>p<strong>a</strong>ce</td>
                <td><strong>e</strong>ngi</td>
                <td></td>
                <td>like m<strong>ai</strong>l</td>
                <td></td>
                <td></td>
                <td><strong>ei</strong></td>
            </tr>

            <tr>
                <td>Ff</td>
                <td><strong>f</strong>un</td>
                <td><strong>f</strong>yrir</td>
                <td></td>
                <td>f<strong>o</strong>t</td>
                <td>f<strong>o</strong>t</td>
                <td>f<strong>o</strong>t</td>
                <td><strong>f</strong>ilmi</td>
            </tr>

            <tr>
                <td>Gg<br>(start)</td>
                <td><strong>g</strong>irl</td>
                <td></td>
                <td></td>
                <td></td>
                <td>g<strong>o</strong>d</td>
                <td>g<strong>o</strong>d</td>
                <td>ma<strong>g</strong>ia</td>
            </tr>

            <tr>
                <td>Gg<br>(middle)</td>
                <td><strong>k</strong>ite</td>
                <td><strong>k</strong>oma</td>
                <td><strong>k</strong>one</td>
                <td><strong>k</strong>afé</td>
                <td><strong>k</strong>on</td>
                <td><strong>k</strong>on</td>
                <td><strong>k</strong>ala</td>
            </tr>

            <tr>
                <td>Ǵǵ</td>
                <td>lo<strong>ch</strong></td>
                <td>sa<strong>g</strong>t</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>Hh</td>
                <td><strong>h</strong>ot</td>
                <td><strong>h</strong>ús</td>
                <td><strong>h</strong>at</td>
                <td><strong>h</strong>att</td>
                <td><strong>h</strong>ot</td>
                <td><strong>h</strong>ot</td>
                <td><strong>h</strong>evonen</td>
            </tr>

            <tr>
                <td>Ii</td>
                <td>k<strong>i</strong>t</td>
                <td><strong>y</strong>rð<strong>i</strong></td>
                <td></td>
                <td>s<strong>i</strong>ll</td>
                <td>s<strong>i</strong>ll</td>
                <td>like s<strong>i</strong>ll</td>
                <td>like t<strong>e</strong>rve</td>
            </tr>

            <tr>
                <td>Íí</td>
                <td>l<strong>ea</strong>f</td>
                <td>f<strong>í</strong>nt</td>
                <td>t<strong>i</strong>sse</td>
                <td><strong>i</strong>, but shorter</td>
                <td>like s<strong>i</strong>ll</td>
                <td>s<strong>i</strong>ll</td>
                <td>v<strong>i</strong>ha</td>
            </tr>

            <tr>
                <td>Jj</td>
                <td><strong>y</strong>es</td>
                <td><strong>j</strong>ú</td>
                <td><strong>j</strong>ord</td>
                <td><strong>j</strong>o<strong>j</strong>o</td>
                <td><strong>j</strong>ord</td>
                <td><strong>j</strong>ord</td>
                <td><strong>j</strong>oulu</td>
            </tr>

            <tr>
                <td>Kk<br>(start)</td>
                <td><strong>sh</strong>ip</td>
                <td></td>
                <td><strong>sj</strong>at</td>
                <td>like <strong>sj</strong>ø</td>
                <td><strong>kj</strong>ol</td>
                <td>like <strong>sj</strong>u</td>
                <td>like <strong>š</strong>akki</td>
            </tr>

            <tr>
                <td>Kk<br>(middle)</td>
                <td>s<strong>k</strong>y</td>
                <td>lí<strong>k</strong>a</td>
                <td><strong>k</strong>one</td>
                <td><strong>k</strong>afé</td>
                <td><strong>k</strong>on</td>
                <td><strong>k</strong>on</td>
                <td><strong>k</strong>ala</td>
            </tr>

            <tr>
                <td>Ll</td>
                <td><strong>l</strong>eap</td>
                <td><strong>l</strong>íf</td>
                <td><strong>l</strong>ykke</td>
                <td><strong>l</strong>ake</td>
                <td><strong>l</strong>ov</td>
                <td><strong>l</strong>ov</td>
                <td><strong>l</strong>au<strong>l</strong>u</td>
            </tr>

            <tr>
                <td>Ḷḷ</td>
                <td>ste<strong>l</strong>pa</td>
                <td colspan="6">same as above, but voiceless, like hl</td>
            </tr>

            <tr>
                <td>Mm</td>
                <td><strong>m</strong>oon</td>
                <td><strong>m</strong>iði</td>
                <td><strong>m</strong>od</td>
                <td><strong>m</strong>an</td>
                <td><strong>m</strong>od</td>
                <td><strong>m</strong>od</td>
                <td><strong>m</strong>etsä</td>
            </tr>

            <tr>
                <td>Ṃṃ</td>
                <td>ste<strong>l</strong>pa</td>
                <td colspan="6">same as above, but voiceless, like hm</td>
            </tr>

            <tr>
                <td>Nn</td>
                <td><strong>n</strong>oon</td>
                <td><strong>n</strong>íu</td>
                <td><strong>n</strong>ode</td>
                <td><strong>n</strong>att</td>
                <td><strong>n</strong>od</td>
                <td><strong>n</strong>od</td>
                <td><strong>n</strong>e<strong>n</strong>ä</td>
            </tr>

            <tr>
                <td>Oo</td>
                <td>h<strong>o</strong>t</td>
                <td>l<strong>o</strong>ft</td>
                <td><strong>o</strong>st</td>
                <td><strong>å</strong>tte</td>
                <td>m<strong>o</strong>oll</td>
                <td>like m<strong>o</strong>ll</td>
                <td><strong>o</strong>ksa</td>
            </tr>

            <tr>
                <td>Óó</td>
                <td>g<strong>oa</strong>t</td>
                <td>h<strong>ó</strong>ll</td>
                <td></td>
                <td>like m<strong>oi</strong></td>
                <td></td>
                <td></td>
                <td><strong>ou</strong>to</td>
            </tr>

            <tr>
                <td>Œœ</td>
                <td></td>
                <td>l<strong>au</strong>st</td>
                <td></td>
                <td>like h<strong>ui</strong></td>
                <td></td>
                <td></td>
                <td>like t<strong>öi</strong>tä</td>
            </tr>

            <tr>
                <td>Pp</td>
                <td>s<strong>p</strong>y</td>
                <td>hjál<strong>p</strong>a</td>
                <td><strong>b</strong>og</td>
                <td><strong>p</strong>a<strong>pp</strong>a</td>
                <td><strong>p</strong>ol</td>
                <td><strong>p</strong>ol</td>
                <td><strong>p</strong>uu</td>
            </tr>

            <tr>
                <td>Rr</td>
                <td><strong>r</strong>ing, but trilled</td>
                <td><strong>r</strong>ós</td>
                <td></td>
                <td>å<strong>r</strong></td>
                <td><strong>r</strong>ov</td>
                <td><strong>r</strong>ov</td>
                <td><strong>r</strong>auta</td>
            </tr>

            <tr>
                <td>Ss</td>
                <td><strong>s</strong>ip</td>
                <td><strong>s</strong>aga</td>
                <td><strong>s</strong>od</td>
                <td><strong>s</strong>abel</td>
                <td><strong>s</strong>ot</td>
                <td><strong>s</strong>ot</td>
                <td><strong>s</strong>inä</td>
            </tr>

            <tr>
                <td>Tt</td>
                <td><strong>t</strong>ie</td>
                <td><strong>t</strong>ala</td>
                <td><strong>d</strong>åb</td>
                <td><strong>t</strong>irsdag</td>
                <td><strong>t</strong>ok</td>
                <td><strong>t</strong>ok</td>
                <td><strong>t</strong>ina</td>
            </tr>

            <tr>
                <td>Uu</td>
                <td><strong>t</strong>ie</td>
                <td><strong>u</strong>pp</td>
                <td>n<strong>ø</strong>d</td>
                <td>n<strong>y</strong>tt</td>
                <td>s<strong>y</strong>ll</td>
                <td>n<strong>ö</strong>tt</td>
                <td>p<strong>ö</strong>ly</td>
            </tr>

            <tr>
                <td>Vv</td>
                <td><strong>v</strong>ery</td>
                <td><strong>v</strong>erk</td>
                <td><strong>v</strong>åd</td>
                <td><strong>v</strong>aktel</td>
                <td><strong>v</strong>åt</td>
                <td><strong>v</strong>åt</td>
                <td>like <strong>v</strong>iha</td>
            </tr>

            <tr>
                <td>Yy</td>
                <td>somewhat like c<strong>u</strong>te</td>
                <td></td>
                <td>t<strong>y</strong>k</td>
                <td>s<strong>y</strong>i, but shorter</td>
                <td>s<strong>y</strong>l, but shorter</td>
                <td>s<strong>y</strong>ll</td>
                <td>kes<strong>y</strong></td>
            </tr>

            <tr>
                <td>Þþ</td>
                <td><strong>th</strong>ink</td>
                <td><strong>þ</strong>að</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>Åå</td>
                <td>m<strong>o</strong>re</td>
                <td>like v<strong>o</strong>, but further back</td>
                <td>k<strong>o</strong>ne</td>
                <td>m<strong>å</strong>l</td>
                <td>m<strong>å</strong>l</td>
                <td>m<strong>å</strong>l</td>
                <td>k<strong>oo</strong>staa</td>
            </tr>

            <tr>
                <td>Ää</td>
                <td><strong>a</strong>rt</td>
                <td>k<strong>a</strong>rl</td>
                <td>like k<strong>a</strong>t</td>
                <td>like <strong>æ</strong>sj</td>
                <td>m<strong>a</strong>tt</td>
                <td>like v<strong>ä</strong>rk</td>
                <td>like pöyt<strong>ä</strong></td>
            </tr>

            <tr>
                <td>Öö</td>
                <td>n<strong>u</strong>rse</td>
                <td>d<strong>ö</strong>kk</td>
                <td>b<strong>ø</strong>nne</td>
                <td>n<strong>ø</strong>tt</td>
                <td>n<strong>ö</strong>tt</td>
                <td>b<strong>õ</strong>rja</td>
                <td>like p<strong>ö</strong>ly</td>
            </tr>

            <tr>
                <td>Üü</td>
                <td>b<strong>oo</strong>t</td>
                <td><strong>u</strong>ngur</td>
                <td><strong>u</strong>d</td>
                <td>b<strong>o</strong>t, but shorter</td>
                <td>b<strong>o</strong>t, but shorter</td>
                <td>b<strong>o</strong>tt</td>
                <td>s<strong>u</strong>rma</td>
            </tr>

        </table>

        <p>There are also a few consonant clusters, where certain consonants are pronounced differently if they are found in a specific order. These are outlined below:</p>

        <table style="width: 150%; table-layout: fixed; margin-top: 30px; margin-bottom: 30px;">

            <tr>
                <th rowspan="2" style="width:50px;"></th>
                <th><img class="flag" height="25" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Flag_of_the_United_Kingdom.svg/800px-Flag_of_the_United_Kingdom.svg.png?20190916111110"></th>
                <th><img class="flag" height="25" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Flag_of_Iceland.svg/800px-Flag_of_Iceland.svg.png?20200111183240"></th>
                <th><img class="flag" height="25" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Flag_of_Denmark.svg/512px-Flag_of_Denmark.svg.png?20220413091520"></th>
                <th><img class="flag" height="25" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Flag_of_Norway.svg/512px-Flag_of_Norway.svg.png?20210507002815"></th>
                <th><img class="flag" height="25" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Flag_of_Sweden.svg/512px-Flag_of_Sweden.svg.png?20191015032229"></th>
                <th><img class="flag" height="25" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Flag_of_Swedish-speaking_Finns.svg/800px-Flag_of_Swedish-speaking_Finns.svg.png?20200826064623"></th>
                <th><img class="flag" height="25" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Flag_of_Finland.svg/800px-Flag_of_Finland.svg.png?20090714053857"></th>
            </tr>

            <tr>
                <th>RP</th>
                <th>ISL</th>
                <th>DAN</th>
                <th>NOB</th>
                <th>SWE</th>
                <th>FIN</th>
                <th>FIN</th>
            </tr>

            <tr>
                <td>hj</td>
                <td><strong>h</strong>ue</td>
                <td><strong>hj</strong>á</td>
                <td></td>
                <td><strong>kj</strong>ip</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>rs</td>
                <td><strong>sh</strong>oe, but tongue further back</td>
                <td></td>
                <td>like <strong>sj</strong>at</td>
                <td>to<strong>rs</strong>dag</td>
                <td>to<strong>rs</strong>dag</td>
                <td>like <strong>sk</strong>ör</td>
                <td>like <strong>š</strong>akki</td>
            </tr>

            <tr>
                <td>rd</td>
                <td>ha<strong>rd</strong></td>
                <td></td>
                <td></td>
                <td>sa<strong>rd</strong>in</td>
                <td>no<strong>rd</strong></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>cj</td>
                <td><strong>c</strong>ute</td>
                <td><strong>k</strong>ær</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>kj</td>
                <td><strong>sh</strong>ip</td>
                <td></td>
                <td><strong>sj</strong>at</td>
                <td>like <strong>sj</strong>ø</td>
                <td><strong>kj</strong>ol</td>
                <td>like <strong>sj</strong>u</td>
                <td>like <strong>š</strong>akki</td>
            </tr>

            <tr>
                <td>hv</td>
                <td colspan="7">replace h with a k sound</td>
            </tr>

        </table>

        <div class="line-x"></div>

        <h2>Translítterakjón • Транслитэращуйн<br><span style="font-weight: 100;">Transliteration</span></h2>
        <p>Cyrillic Cloudic isn't generally written by itself. The grammar rules are too complicated, and usually don't translate well when vowels are shifted around. For
            this exact reason, Cloudic is usually converted using a formula from Latin to Cyrillic.
        </p>

        <p>Before replacing letters, you should check for any consonant clusters present, and replace these first. These are as follows:</p>

        <table style="width: 150%; table-layout: fixed; margin-top: 30px; margin-bottom: 30px;">

            <tr>
                <td>hj</td>
                <td>rs</td> 
                <td>rd</td>
                <td>cj</td>
                <td>hv</td>
                <td>kj</td>
                <td>ja</td>
                <td>je</td>
                <td>ji</td>
                <td>jo</td>
                <td>ju</td>
              </tr>
              <tr>
                <td>х</td>
                <td>ш</td> 
                <td>д</td>
                <td>ч</td>
                <td>кф</td>
                <td>щ</td>
                <td>я</td>
                <td>е</td>
                <td>ї</td>
                <td>ё</td>
                <td>ю</td>
              </tr>

        </table>

        <p>After, simply switch the letters in the table below. If there are any tildes (double-length vowels) present in the Latin text, simply treat them like single vowels.</p>

        <table style="width: 150%; table-layout: fixed; margin-top: 30px; margin-bottom: 30px;">

            <TR>
                <TD>A</TD>
                <TD>Á</TD> 
                <TD>Æ</TD>
                <TD>B</TD>
                <TD>D</TD>
                <TD>Ð</TD>
                <TD>E</TD>
                <TD>É</TD>
                <TD>F</TD>
                <TD>Ǵ</TD>
                <TD>H</TD>
                <TD>I</TD>
                <TD>Í</TD>
                <TD>J</TD>
                <TD>L</TD>
                <TD>Ḷ</TD>
                <TD>M</TD>
                <TD>Ṃ</TD>
                <TD>N</TD>
                <TD>O</TD>
                <TD>Ó</TD>
                <TD>Œ</TD>
                <TD>P</TD>
                <TD>R</TD>
                <TD>S</TD>
                <TD>T</TD>
                <TD>U</TD>
                <TD>V</TD>
                <TD>Y</TD>
                <TD>Þ</TD>
                <TD>Å</TD>
                <TD>Ä</TD>
                <TD>Ö</TD>
                <TD>Ü</TD>
              </TR>
            <tr>
                <td>А</td>
                <td>АУ</td> 
                <td>АЙ</td>
                <td>Б</td>
                <td>Д</td>
                <td>Ж</td>
                <td>Э</td>
                <td>ЭЙ</td>
                <td>Ф</td>
                <td>Х</td>
                <td>Х</td>
                <td>І</td>
                <td>И</td>
                <td>Ј</td>
                <td>Л</td>
                <td>Ӆ</td>
                <td>М</td>
                <td>Ӎ</td>
                <td>Н</td>
                <td>О</td>
                <td>УЙ</td>
                <td>УЙ</td>
                <td>П</td>
                <td>Р</td>
                <td>С</td>
                <td>Т</td>
                <td>Ӧ</td>
                <td>В</td>
                <td>Ӱ</td>
                <td>З</td>
                <td>О</td>
                <td>Я</td>
                <td>Ӧ</td>
                <td>У</td>
              </tr>

        </table>

        <p>Replace G with Г at the start of a word, or with К anywhere else. Replace K with Щ at the start of a word, or with К anywhere else.</p>

        <p>Note: this does not always work in reverse, but it could give you a good idea of which word you're up against.</p>

    </div>

</div>
</div>

<style>
    td, th {
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 0px !important;
        font-weight: 600;
        text-align: center;
    }
    th {
        text-align: center;
    }
    img.flag {
        padding-left: 5px;
        padding-right: 5px;
    }

    @import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

    td.cyr_cur {
        font-family: 'Bad Script', cursive;
    }
</style>

{{ > templates/footer }}