{{ > templates/header }}

<div class="container" style="max-width: 1000px">
<div class="row">

    <div class="col-md-8 col-sm-12">

        <h1>Learn Cloudic v3</h1>
        <p class="larger">Cloudic has been constructed in a way which makes it moderately easy to learn for speakers of any North Germanic or Finno-Urgic
            languages. It implements many grammatical rules and spelling patterns of these languages, which makes it partly recognisable to these speakers
            without any prior knowledge of the language.
        </p>
        <p class="larger">To give it a 'fun twist', there are hints of difficulty sprinkled into the rules. Being a polysynthetic language with many noun
            cases, words can become extremely long - but still easy to understand, given the sufficient material.
        </p>

        <div class="line-x"></div>

        <h2>Lessons</h2>
        <p>The Institute of the Cloudic Language (ICL) have put together various tools, services and documentation to guide you through your Cloudic journey.
        </p>
        <p>You can visit them below:</p>
        <ol>
            <li class="body"><a href="/learn/alphabet">The Alphabet</a></li>
        </ol>

    </div>

</div>
</div>

{{ > templates/footer }}